<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-unidad-medida-heading"
        data-cy="UnidadMedidaCreateUpdateHeading"
        jhiTranslate="inventarioApp.unidadMedida.home.createOrEditLabel"
      >
        Create or edit a Unidad Medida
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="inventarioApp.unidadMedida.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let codigoRef = editForm.get('codigo')!;
        <div class="mb-3">
          <label class="form-label" for="field_codigo" jhiTranslate="inventarioApp.unidadMedida.codigo">Codigo</label>
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
          @if (codigoRef.invalid && (codigoRef.dirty || codigoRef.touched)) {
            <div>
              @if (editForm.get('codigo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('codigo')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '10' }"
                  >This field cannot be longer than 10 characters.</small
                >
              }
            </div>
          }
        </div>

        @let nombreRef = editForm.get('nombre')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="inventarioApp.unidadMedida.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (nombreRef.invalid && (nombreRef.dirty || nombreRef.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('nombre')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        @let dimensionRef = editForm.get('dimension')!;
        <div class="mb-3">
          <label class="form-label" for="field_dimension" jhiTranslate="inventarioApp.unidadMedida.dimension">Dimension</label>
          <select class="form-control" name="dimension" formControlName="dimension" id="field_dimension" data-cy="dimension">
            <option [ngValue]="null">{{ 'inventarioApp.DimensionUnidad.null' | translate }}</option>
            @for (dimensionUnidad of dimensionUnidadValues; track $index) {
              <option [value]="dimensionUnidad">{{ 'inventarioApp.DimensionUnidad.' + dimensionUnidad | translate }}</option>
            }
          </select>
          @if (dimensionRef.invalid && (dimensionRef.dirty || dimensionRef.touched)) {
            <div>
              @if (editForm.get('dimension')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
