<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-producto-heading" data-cy="ProductoCreateUpdateHeading" jhiTranslate="inventarioApp.producto.home.createOrEditLabel">
        Create or edit a Producto
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="inventarioApp.producto.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let skuRef = editForm.get('sku')!;
        <div class="mb-3">
          <label class="form-label" for="field_sku" jhiTranslate="inventarioApp.producto.sku">Sku</label>
          <input type="text" class="form-control" name="sku" id="field_sku" data-cy="sku" formControlName="sku" />
          @if (skuRef.invalid && (skuRef.dirty || skuRef.touched)) {
            <div>
              @if (editForm.get('sku')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('sku')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >This field cannot be longer than 64 characters.</small
                >
              }
            </div>
          }
        </div>

        @let nombreRef = editForm.get('nombre')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="inventarioApp.producto.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (nombreRef.invalid && (nombreRef.dirty || nombreRef.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('nombre')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '150' }"
                  >This field cannot be longer than 150 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pesoPorUnidadKg" jhiTranslate="inventarioApp.producto.pesoPorUnidadKg"
            >Peso Por Unidad Kg</label
          >
          <input
            type="number"
            class="form-control"
            name="pesoPorUnidadKg"
            id="field_pesoPorUnidadKg"
            data-cy="pesoPorUnidadKg"
            formControlName="pesoPorUnidadKg"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_volumenPorUnidadL" jhiTranslate="inventarioApp.producto.volumenPorUnidadL"
            >Volumen Por Unidad L</label
          >
          <input
            type="number"
            class="form-control"
            name="volumenPorUnidadL"
            id="field_volumenPorUnidadL"
            data-cy="volumenPorUnidadL"
            formControlName="volumenPorUnidadL"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fechaCreacion" jhiTranslate="inventarioApp.producto.fechaCreacion">Fecha Creacion</label>
          <div class="d-flex">
            <input
              id="field_fechaCreacion"
              data-cy="fechaCreacion"
              type="datetime-local"
              class="form-control"
              name="fechaCreacion"
              formControlName="fechaCreacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fechaModificacion" jhiTranslate="inventarioApp.producto.fechaModificacion"
            >Fecha Modificacion</label
          >
          <div class="d-flex">
            <input
              id="field_fechaModificacion"
              data-cy="fechaModificacion"
              type="datetime-local"
              class="form-control"
              name="fechaModificacion"
              formControlName="fechaModificacion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let usuarioCreacionRef = editForm.get('usuarioCreacion')!;
        <div class="mb-3">
          <label class="form-label" for="field_usuarioCreacion" jhiTranslate="inventarioApp.producto.usuarioCreacion"
            >Usuario Creacion</label
          >
          <input
            type="text"
            class="form-control"
            name="usuarioCreacion"
            id="field_usuarioCreacion"
            data-cy="usuarioCreacion"
            formControlName="usuarioCreacion"
          />
          @if (usuarioCreacionRef.invalid && (usuarioCreacionRef.dirty || usuarioCreacionRef.touched)) {
            <div>
              @if (editForm.get('usuarioCreacion')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        @let usuarioModificacionRef = editForm.get('usuarioModificacion')!;
        <div class="mb-3">
          <label class="form-label" for="field_usuarioModificacion" jhiTranslate="inventarioApp.producto.usuarioModificacion"
            >Usuario Modificacion</label
          >
          <input
            type="text"
            class="form-control"
            name="usuarioModificacion"
            id="field_usuarioModificacion"
            data-cy="usuarioModificacion"
            formControlName="usuarioModificacion"
          />
          @if (usuarioModificacionRef.invalid && (usuarioModificacionRef.dirty || usuarioModificacionRef.touched)) {
            <div>
              @if (editForm.get('usuarioModificacion')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_unidadMedida" jhiTranslate="inventarioApp.producto.unidadMedida">Unidad Medida</label>
          <select
            class="form-control"
            id="field_unidadMedida"
            data-cy="unidadMedida"
            name="unidadMedida"
            formControlName="unidadMedida"
            [compareWith]="compareUnidadMedida"
          >
            <option [ngValue]="null"></option>
            @for (unidadMedidaOption of unidadMedidasSharedCollection; track $index) {
              <option [ngValue]="unidadMedidaOption">{{ unidadMedidaOption.codigo }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_categoria" jhiTranslate="inventarioApp.producto.categoria">Categoria</label>
          <select
            class="form-control"
            id="field_categoria"
            data-cy="categoria"
            name="categoria"
            formControlName="categoria"
            [compareWith]="compareCategoria"
          >
            <option [ngValue]="null"></option>
            @for (categoriaOption of categoriasSharedCollection; track $index) {
              <option [ngValue]="categoriaOption">{{ categoriaOption.nombre }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
