<form [formGroup]="form" (ngSubmit)="registrar()">

  <label>Tipo</label>
  <select formControlName="tipo">
    <option *ngFor="let t of tiposMovimiento" [value]="t">{{ t }}</option>
  </select>

  <label>Local Origen</label>
  <select formControlName="localOrigenId">
    <option [ngValue]="null">--</option>
    <option *ngFor="let l of locales" [ngValue]="l.id">{{ l.nombre }}</option>
  </select>

  <label>Local Destino</label>
  <select formControlName="localDestinoId">
    <option [ngValue]="null">--</option>
    <option *ngFor="let l of locales" [ngValue]="l.id">{{ l.nombre }}</option>
  </select>

  <label>Producto</label>
  <select formControlName="productoId">
    <option *ngFor="let p of productos" [ngValue]="p.id">{{ p.nombre }}</option>
  </select>

  <label>Cantidad</label>
  <input type="number" formControlName="cantidad" />

  <label>Referencia</label>
  <input type="text" formControlName="referencia" />

  <button type="submit" [disabled]="loading">
    Registrar movimiento
  </button>

</form>

<div *ngIf="errorMsg" style="color:red">
  {{ errorMsg }}
</div>

<div *ngIf="respuesta">
  <h4>Movimiento registrado</h4>
  <pre>{{ respuesta | json }}</pre>
</div>
