<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (unidadMedida(); as unidadMedidaRef) {
      <div>
        <h2 data-cy="unidadMedidaDetailsHeading"><span jhiTranslate="inventarioApp.unidadMedida.detail.title">Unidad Medida</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ unidadMedidaRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="inventarioApp.unidadMedida.codigo">Codigo</span></dt>
          <dd>
            <span>{{ unidadMedidaRef.codigo }}</span>
          </dd>
          <dt><span jhiTranslate="inventarioApp.unidadMedida.nombre">Nombre</span></dt>
          <dd>
            <span>{{ unidadMedidaRef.nombre }}</span>
          </dd>
          <dt><span jhiTranslate="inventarioApp.unidadMedida.dimension">Dimension</span></dt>
          <dd>
            <span [jhiTranslate]="'inventarioApp.DimensionUnidad.' + (unidadMedidaRef.dimension ?? 'null')">{{
              { null: '', UNIDAD: 'UNIDAD', PESO: 'PESO', VOLUMEN: 'VOLUMEN' }[unidadMedidaRef.dimension ?? 'null']
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/unidad-medida', unidadMedidaRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
